.container{
    width: 70%;
    position: absolute;
    margin-left: 25vw;
}

.menu {
    /* margin: 1.6rem 20rem; */
    align-content: center;
}

.menu--button {
    padding: 1.6rem 2.4rem;
    font-family: 'Montserrat';
    border: 0;
    border-radius: 30px;
    background-color: var(--secundary-color);
    font-size: 1.7rem;
    color: white;
    transition: 0.5s;  
}

button.menu--button{
    margin: 1.6rem 2.4rem;
    /* align-content: space-between; */
}

.menu--button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* .container #charts{
    border: 1px solid black;
}
.container #charts2{
    border: 1px solid black;
}
.container #charts3{
    border: 1px solid black;
} */