.menu {
    margin: 2rem;
}

.menu--button {
    padding: 1.8rem 3rem;
    font-family: 'Montserrat';
    border: 0;
    border-radius: 30px;
    background-color: var(--secundary-color);
    font-size: 1.7rem;
    color: white;
}